@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: w;
	src: url(./fonts/WanoQuin-ExtraBold.otf);
}

body {
	color: #fff;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	background-color: #141414;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3rem;
	position: fixed;
	top: 0;
	width: 100vw;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	z-index: 1000;
}

.navbar span {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 50px;
	background: linear-gradient(90deg, transparent, #fff);
	animation: animate 5s infinite linear;
}

@keyframes animate {
	0% {
		left: 0;
		transform: translate(-100%);
	}
	100% {
		left: 100%;
		transform: translate(0%);
	}
}
